extends ..\layout

block content
    h1.
        #{title}
    ul
        p
            a(href='/livros/new') Novo
        - each livro, i in livros
          li
            =livro.codigo
            =livro.nome
            =livro.autor
            =livro.edicao
            =livro.ano

